@page "/login"
@inject IState<AppState> AppState
@inject IDispatcher Dispatcher
<h1>Login</h1>

@if(AppState.Value.ErrorMessage != null)
{
    <div class="alert-danger">@AppState.Value.ErrorMessage</div>
}

<EditForm Model="@loginInfo" OnValidSubmit="@OnFormSave">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <lablel class="text-primary">Email</lablel>
        <InputText @bind-Value="loginInfo.Email" Class="form-control" />
    </div>
    <div class="form-group">
        <lablel class="text-primary">Password</lablel>
        <input type="password" @bind="loginInfo.Password" Class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary" style="width:75px">Login</button>
    </div>
</EditForm>

@code {
    LoginInfo loginInfo = new LoginInfo();

    void OnFormSave()
    {
        Dispatcher.Dispatch(new LoginAction(loginInfo));
    }
}