@inherits RoleFormBase

<EntityForm Item="Item" OnFormSave="SaveAsync" OnFormCancel="CancelAsync">
    <FormBody Context="item">
        <div class="form-group">
            <label class="text-primary">Name</label>
            <InputText bind-Value="@item.Name" Class="form-control" />
        </div>
        <div class="form-group">
            <label class="text-primary">Description</label>
            <InputTextArea bind-Value="@item.Description" Class="form-control" />
        </div>
    </FormBody>
</EntityForm>