@inject IJSRuntime js

<button onclick="@ConfirmAsync" class="btn btn-primary btn-sm">@ChildContent</button>

@functions {
    [Parameter]
    private string Ask { get; set; }

    [Parameter]
    private RenderFragment ChildContent { get; set; }

    [Parameter]
    EventCallback<UIMouseEventArgs> OnClick { get; set; }

    async Task ConfirmAsync()
    {
        var ans = await js.InvokeAsync<bool>("confirm", Ask);
        if (ans)
        {
            await js.InvokeAsync<object>("alert", "yes");
        }
    }
}