@inject IJSRuntime js

<button onclick="@(e=>ConfirmAsync(e))" class="@Class">@ChildContent</button>

@functions {
    [Parameter]
    string Ask { get; set; }

    [Parameter]
    string Class { get; set; }

    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    EventCallback<UIMouseEventArgs> OnClick { get; set; }

    async Task<bool> ConfirmAsync(UIMouseEventArgs e)
    {
        var ans = await js.InvokeAsync<bool>("confirm", Ask);
        if (ans)
        {
            await OnClick.InvokeAsync(e);
            return true;
        }

        return false;
    }
}