@inherits LayoutComponentBase
@inject IState<AppState> AppState
@inject IDispatcher Dispatcher
@inject IStore Store
@Store.Initialize()

<Dialog />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="d-flex flex-row align-items-center justify-content-end top-row px-4">
        @if (AppState.Value.LoggedIn)
        {
            <button class="btn btn-sm btn-light">@AppState.Value.UserInfo.UserName</button>
            <button onclick="@Logout" class="btn btn-sm btn-light">Logout</button>
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@functions {
    protected override void OnInit()
    {
        AppState.Subscribe(this);
        Dispatcher.Dispatch(new CheckLoginAction());
    }

    protected void Logout()
    {
        Dispatcher.Dispatch(new LogoutAction());
    }
}