@inject ApiService Api
@inherits Blazor.Fluxor.Components.FluxorComponent
@using Blazor.Fluxor
@using Store
@inject IState<NavState> NavState
@inject IState<LoginState> LoginState
@inject IDispatcher Dispatcher

<div class="top-row pl-4 navbar navbar-dark">
    @if (string.IsNullOrEmpty(NavState.Value.Branch.Name))
    {
        <!-- don't return default value 'Admin Panel' from Api.Branch. See its code references first -->
        <a class="navbar-brand" href="">Admin Panel</a>
    }
    else
    {
        <a class="navbar-brand" href="">@NavState.Value.Branch.Name</a>
    }
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" onclick="@ToggleNavMenu">

    @if (LoginState.Value.LoggedIn)
    {
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            @if (LoginState.Value.JwToken().Roles.Contains("Super"))
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="branches">
                        <span class="oi oi-grid-three-up" aria-hidden="true"></span> Branches
                    </NavLink>
                </li>
            }

            @if (NavState.Value.Branch != null)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="images">
                        <span class="oi oi-grid-three-up" aria-hidden="true"></span> Images
                    </NavLink>
                </li>

                @if (LoginState.Value.JwToken().Roles.Contains("Admins"))
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="users">
                            <span class="oi oi-grid-three-up" aria-hidden="true"></span> Users
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="roles">
                            <span class="oi oi-grid-three-up" aria-hidden="true"></span> Roles
                        </NavLink>
                    </li>
                }
            }
        </ul>
    }
</div>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInit()
    {
        base.OnInit();
        Api.LoginInfoChanged += StateHasChanged;
    }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
