@inherits Blazor.Fluxor.Components.FluxorComponent
@inject IState<AppState> AppState
@inject IDispatcher Dispatcher

<div class="top-row pl-4 navbar navbar-dark">
    @if (AppState.Value.IsLoggedIn && AppState.Value.AppBranch != null)
    {
        <a class="navbar-brand" href="">@AppState.Value.AppBranch.Name</a>
    }
    else
    {
        <a class="navbar-brand" href="">Admin Panel</a>
    }
    <button class="navbar-toggler" @onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="@ToggleNavMenu">

    @if (AppState.Value.IsLoggedIn)
    {
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            @if (AppState.Value.AppUserRoles.Contains("Super"))
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="branches">
                        <span class="oi oi-grid-three-up" aria-hidden="true"></span> Branches
                    </NavLink>
                </li>
            }

            @if (AppState.Value.AppBranch != null)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="images">
                        <span class="oi oi-grid-three-up" aria-hidden="true"></span> Images
                    </NavLink>
                </li>

                @if (AppState.Value.AppUserRoles.Contains("Admins"))
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="users">
                            <span class="oi oi-grid-three-up" aria-hidden="true"></span> Users
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="roles">
                            <span class="oi oi-grid-three-up" aria-hidden="true"></span> Roles
                        </NavLink>
                    </li>
                }
            }
        </ul>
    }
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
